<li class="acl-write superscript">
  <a class="grouped-left buttonicon buttonicon-superscript ep_subscript_and_superscript_super"
     role="button" tabindex="0"
     title="superscript"
     data-l10n-id="ep_subscript_and_superscript.superscript"></a>
</li>
<li class="acl-write subscript">
  <a class="grouped-right buttonicon buttonicon-subscript ep_subscript_and_superscript_sub"
     role="button" tabindex="0"
     title="subscript"
     data-l10n-id="ep_subscript_and_superscript.subscript"></a>
</li>
