<li class="acl-write superscript">
  <a class="grouped-left buttonicon buttonicon-superscript ep_subscript_and_superscript_super"
     role="button" tabindex="0"
     title="Superscript"
     data-l10n-id="ep_subscript_and_superscript.superscript.title"></a>
</li>
<li class="acl-write subscript">
  <a class="grouped-right buttonicon buttonicon-subscript ep_subscript_and_superscript_sub"
     role="button" tabindex="0"
     title="Subscript"
     data-l10n-id="ep_subscript_and_superscript.subscript.title"></a>
</li>
