<li class="acl-write superscript">
  <a title="superscript" class="grouped-left">
    <span class="buttonicon buttonicon-superscript"></span>
  </a>
</li>
<li class="acl-write subscript">
  <a title="subscript" class="grouped-right">
    <span class="buttonicon buttonicon-subscript"></span>
  </a>
</li>
